/* Ikoner */

.dropdownArrowRight {
  width: var(--space-xl);
  height: var(--space-xl);
  background-image: url(../IMGS/SVG/arrow-right.svg);
}

.dropdownArrowDown {
  width: var(--space-xl);
  height: var(--space-xl);
  background-image: url(../IMGS/SVG/arrow-down.svg);
}

.filterMenuIcon {
  width: var(--space-xl);
  height: var(--space-xl);
  background-image: url(../IMGS/SVG/filter-option.svg);
}

.buyIcon {
  width: var(--space-xl);
  height: var(--space-xl);
  background-image: url(../IMGS/SVG/buy.svg);
}

.addIcon {
  width: var(--space-xl);
  height: var(--space-xl);
  background-image: url(../IMGS/SVG/add.svg);
}

.availableIcon {
  width: var(--space-xl);
  height: var(--space-xl);
  background-image: url(../IMGS/SVG/in-stock.svg);
}

.unavailableIcon {
  width: var(--space-xl);
  height: var(--space-xl);
  background-image: url(../IMGS/SVG/out-of-stock.svg);
}

/* Stuff */

.dynamicFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asideOuterContainer {
  position: fixed;
  top: 5%;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
  overflow: hidden;
}

.asideContainer {
  width: 100%;
  height: 100%;
  padding: 2rem 0rem;
  gap: 2rem;
  background-color: var(--color-secondary);
  border-radius: 2rem;
}

#productsContent .filterMenuIcon {
  border-radius: 2rem;
  padding: 1.25rem 2.75rem;
  background-color: var(--color-tertiary);
  cursor: pointer;
}

.clearFilterBtn {
  border-radius: 2rem;
  padding: 0.6rem 1.5rem;
  background-color: var(--color-neutral);
  font-size: var(--fs-md);
  font-weight: 600;
  text-transform: uppercase;
}

.asideTitle, .productsTitle {
  color: var(--color-text-secondary);
  font-size: var(--fs-xl);
  text-align: center;
  text-transform: uppercase;
}

.asideList {
  width: 100%;
  padding: 1rem 1.5rem 0rem 2rem;
  overflow-y: auto;
  color: var(--color-text-secondary);
}

.asideList li:not(.dropdown) {
  width: fit-content;
}

.asideList a {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
}

.asideList a:hover {
  background-color: green;
}

.asideButtons {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.dropdown {
  width: 100%;
}

.dropdown-toggle {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu {
  display: none;
  padding-left: 1rem;
}

.dropdown-menu.active {
  display: block;
}




.productsContainer {
  width: 100%;
  gap: 1rem;
  padding: 1rem 1rem;
}

.productsTitle {
  text-transform: none;
  color: var(--color-text-primary);
}

.filterButton {
  justify-content: center;
  margin: 1rem 0rem;
  width: 100%;
}

.activeFilters {
  flex-wrap: wrap;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  gap: 1rem;
}

.filterTag, .filterMultiTag {
  font-size: var(--fs-sm);
  font-weight: 600;
  cursor: pointer;
  border: 0.125rem solid var(--color-text-primary);
}

.filterTag {
  padding: 0.5rem 1rem;
  background-color: var(--color-neutral);
}

.filterMultiTag {
  display: flex;
  align-items: center;
}

.filterCatOne, .filterCatTwo {
  text-align: center;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.filterCatOne {
  background-color: var(--color-neutral);
  border-right: 0.25rem solid var(--color-text-primary);
}

.filterCatTwo {
  background-color: var(--color-text-secondary);
}


.cardsContainer {
  gap: 2rem;
}

.cardsContainer img {
  width: calc(100% - 10vw);
  border-radius: 2rem;
}

.cardsContainer p:not(.cardName) {
  font-size: calc(var(--fs-md) - 45%);
  font-family: var(--font-family-sans);
  font-weight: 600;
}

.cardName {
  font-size: calc(var(--fs-md) - 30%);
  font-family: var(--font-family-sans);
  font-weight: 600;
}

.cardSubContainer, .cardInfo {
  width: calc(100% - 10vw);
  padding: 0.5rem 1rem 0rem 1rem;
  align-items: center;
}

.cardInfo .addIcon {
  padding: 1.25rem 2rem;
  border-radius: 2rem;
  background-color: var(--color-tertiary);
  cursor: pointer;
}

.cardStatus {
  gap: 0.5rem;
}

@media screen and (min-width: 801px) {
   .dynamicFlex {
    display: flex;
    flex-direction: row;
    align-items: normal;
  }

  .filterButton {
    display: none;
  }

  .toggleable {
    display: block;
  }

  #closeFilter {
    display: none;
  }

  .asideOuterContainer {
    position: static;
    max-height: none;
    overflow-y: visible;
    min-width: calc(var(--space-md) * 23);
    max-width: calc(var(--space-md) * 23);
  }

  .asideOuterContainer {
    margin-right: 2rem;
  }

  .asideContainer .flex_col {
    width: 100%;
  }

  .sectionShow .toggleable {
    display: block;
  }

  .cardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .productsTitle {
    transform: translateX(-50%);
  }

  .addCard {
    width: 400px;
    height: 500px;
    background-image: url(imgs/SVG/Card-Unfilled-Dekstop.svg);
    gap: 7rem;
  }

  .addCard .circleIcon {
    width: 200px;
    height: 200px;
  }

  .filledCardContainer {
    width: 400px;
    height: 500px;
  }

  .cardButtons {
  }

  .cardImgContainer {
    height: 258px;
  }

  .cardDescription {
    height: 123px;
  }
}