* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forside_hero {
  display: grid;
  width: 100%;
}
img {
  width: 100%;
}
main {
  width: 100%;
  background-color: #f9f9f9;
}

.forside_text1 h3 {
  /*font-family: josefin Sans, Sans-Serif; */ /* Fjerner det her, alle <h> har det rette font i globalStyle.css */
  text-align: center;
  padding: 40px;
  /* font-family: josefin Sans, Sans-Serif; */ /* Behøver ikke det her, siden du har defineret font-familien ovenover. */
}

.forside_text2 h3 {
  /* font-family: josefin Sans, Sans-Serif; */ /* Fjern det her */
  text-align: center;
  padding: 40px;
  /* font-family: josefin Sans, Sans-Serif; */ /* Fjern det her */
}

.forside_underoverskrift {
  text-align: center;
  padding: 40px;
  margin: 40px;
  /* font-family: josefin Sans, Sans-Serif; */ /*  Fjerner det her, alle <h> har det rette font i globalStyle */
}

.forside_text1 p {
  gap: 30px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  padding: 12px;
  line-height: 1.6;
  /* font-family: Merriweather, “light”, sans-serif; */ /* Fjerner det her, alle <p> har det rette font i globalStyle */
}

.forside_text2 p {
  gap: 20px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  padding: 12px;
  line-height: 1.6;
  /* font-family: Merriweather, “light”, sans-serif; */ /* Fjerner det, alle <p> har det rette font i globalStyle */
}
@media screen and (min-width: 800px) {
  .forside_1 {
    width: 100%;
    max-width: 100%;
    /* height: auto; */ /* Behøver ikke det her, når width er sat til 100%, er height automatisk på auto */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    /* padding: 20px; */ /* Behøver ikke det her, det er allerede skrevet ovenfor. */
    /* height: 100vh; */ /* Behøver ikke det her, siden du vil have height på auto.  */
    /* box-sizing: border-box; */ /* Behøver ikke det her, alting i vores dokument har border-box applied. */
    /* max-width: 800px; */ /* Behøver ikke det her, siden */
  }

  .forside_1 img {
    width: 550px;
    height: 550px;
    aspect-ratio: 1/2;
    align-items: center;
  }

  .forside_2 {
    width: 100%;
    max-width: 100%;
    /* height: auto; */ /* Behøver ikke det her, når width er sat til 100%, er height automatisk på auto */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    /* padding: 20px; */ /* Behøver ikke det her, det er allerede skrevet ovenfor. */
    /* height: 100vh; */ /* Behøver ikke det her, siden du vil have height på auto.  */
    /* box-sizing: border-box; */ /* Behøver ikke det her, alting i vores dokument har border-box applied. */
    /* max-width: 800px; */ /* Behøver ikke det her, siden */
  }

  .forside_2 img {
    width: 550px;
    height: 550px;
    align-items: center;
  }
}
@media (min-width: 800px) {
}
