/*

*****************     Indholdsfortegnelse     *****************

- Brug CTRL + F eller Command (⌘) + F og "[NAME]" uden ""
- Klik herefter på den nedad-vendte pil " ↓ " til at komme frem til det.

- Ex: Command + F. Indtast [Variabler]. Klik ↓ ned.

* [Variabler]
* [Resets]
* [Generel Styling]
* [Header]
* [Navbar]
* [Burger Menu]
* [Footer]
* [Ikoner]
* [Flex Layouts]
* [Desktop CSS]
* [Desktop General Styling]
* [Desktop Header + Navbar]

*/

/* [Variabler] */
/* Vores Variabler */
:root {

  /* Farver */
  --color-primary: #F9F9F9;         /* Bruges som sidernes baggrundsfarve */
  --color-secondary: #3C5461;       /* Bruges som header ? / footer / accent farve */
  --color-tertiary: #81A7AB;        /* Bruges som header ? / accent farve */
  --color-neutral: #CDD3D5;         /* Bruges som en neutral farve */
  --color-text-primary: #000000;    /* Bruges som font-farve, sort */
  --color-text-secondary: #FFFFFF;  /* Bruges som font-farve, hvid */
  --color-shadow-60: #00000099;     /* Bruges som box-shadow farve, sort, 60% transperant */
  --color-shadow-30: #0000004d;     /* Bruges som box-shadow farve, sort, 30% transperant */

  /* Font Variabler */
  --font-family-sans: "Josefin Sans", sans-serif;
  --font-family-serif: "Merriweather", serif; 

  /* Vores font-størrelser, genereret med en type-scale generator.
     Font-størrelserne er skalerbar afhængig af skærmbredde, ved brug af clamp().
     Link: https://anon.to/t1VdOG  
     ( Linker til https://www.fluid-type-scale.com/ og de indstillinger som jeg brugte, det originale link er for langt, så har forkortet det ) */
  --fs-sm: clamp(0.8rem, 0.05vi + 0.79rem, 0.84rem);
  --fs-base: clamp(1rem, 0.16vi + 0.97rem, 1.13rem);
  --fs-md: clamp(1.25rem, 0.31vi + 1.19rem, 1.5rem);
  --fs-lg: clamp(1.56rem, 0.55vi + 1.45rem, 2rem);
  --fs-xl: clamp(1.95rem, 0.89vi + 1.78rem, 2.66rem);
  --fs-2xl: clamp(2.44rem, 1.39vi + 2.16rem, 3.55rem);
  --fs-3xl: clamp(3.05rem, 2.1vi + 2.63rem, 4.73rem);
  --fs-4xl: clamp(3.81rem, 3.12vi + 3.19rem, 6.31rem);

  /* Afstands variabler */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
  --space-3xl: 4rem;
  --space-4xl: 5rem;

}

/* Vores Fonte */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* [Resets] */
/* Globale Resets / Tilføjelser */

/* Gør så ting forbliver i border-box, med padding og margin, og ikke bliver "skubbet ud" fra dens parent-container */
*, *::before, *::after{
  box-sizing: border-box; 
}

/* Resetter alle margin og padding til 0 */
* {
  margin: 0;
  padding: 0;
}

/* Smooth Scrolling, kan undlades */
html:focus-within{
    scroll-behavior: smooth; 
}

/* Resetter input, knap, tekst-områder (tænk besked-felter i en kontaktformular) select (tænk "vælg-emne" dropdown-muligheder)*/
input, button, textarea, select {
  appearance: auto;
  display: inline-block;
  border: none;
  background: none;
  outline: none;
  padding-block: 0;
  padding-inline: 0;
}

/****** Fjerner "up / ned" ikonet på input af type="number" ********/
/* For Chrome, Safari, og Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Fjerner fokus-effekten (outline-effekt) af input, select, knap og tekst-område elementer */
input:focus, select:focus, button:focus, textarea:focus {
  outline: none;
}

/* 
  * En små-ting, gør så understregen på links når text-decoration er enabled, 
  - ikke går i gennem bogstaver som "g"
  * Sætter text-decoration til "none" som standard 
*/
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Fjerner det irriterende "blå" font-farve på links der er besøgte. Burde fikse det */
a:visited, a:active, a:hover {
  color: inherit;
}

/* Fjerner " * " bulletpoints fra list-elementer */
li {
  list-style: none;
}

/* Gør så img-elementer optager deres fulde størrelse, dækker det hele, og er en block-type element */
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* 
  * Standard styling for <i> ikoner.
  * Gør så ikoner ikke starter på ny-linje, men kan placeres ved siden af ting.
  * Gør så billedet i ikonet bevare dens højde-bredde forhold i størrelse
  - og så den ikke gentager sig, + er placeret midt for.
*/
i {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* [Generel Styling] */
/* 
  * Gør så der ikke er sidelæns-scroll.
  * Gør så det optager hele height, width.
  * Gør så hele body (header, main, footer) har display flex, og i kolonne retning. 
  * Minimum højde er 100% viewport højde (skærmens y-akse)
  */
body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  * Gør så main-elementen fyldes ud, 
  - for at undgå en underlig fejl med white-space under footeren i korte sider.
  - Det virker, når det bruges sammen med ovenstående kode for (html, body) og (body).
  * Giver main et padding, for at give spacing og skabe en lille smule white-space.
  * Sætter baggrundsfarven på indholdet imellem header og footer til vores mættet hvid
*/
main {
  overflow-y: auto;
  flex: 1;
  padding: 1rem;
  background-color: var(--color-primary);
}

header {
  padding: 1rem 1rem 0rem 1rem;
}

/* Gør så Headings og Body-tekst kan skrympes, hvis vindue-størrelsen ændres på, så det ikke "forsvinder" */
/* Sætter også linjehøjde til 1.5x tekststørrelsen, som anvist i Interfacedesign bogen. */
h1, h2, h3, h4, h5, h6, p {
  text-wrap: wrap;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 150%;
}

/* Links og Headings Font Family */
a, h1, h2, h3, h4, h5, h6, li {
  font-family: var(--font-family-sans);
}

/* Bodytext Font Family*/
p {
  font-family: var(--font-family-serif);
}

/* Font styling for input, button, select, textarea */
input, button, select, textarea {
  font-family: var(--font-family-sans);
}

/* Label styling */
label {
  display: inline-block;
  font-family: var(--font-family-serif);
}

/* Sætter alle hovers på buttons til at være pointers */
button:hover {
  cursor: pointer;
}

/* Bruges ifm. JS, skjuler indhold */
.toggleable {
  display: none;
}

/* Bruges ifm. JS, viser indhold når det er i dens aktiveret state når man bruger classList.toggle */
.toggleable.active {
  display: block;
}

/* Bruges ifm. JS, skjuler indhold */
.showElement {
  display: block;
}

/* Bruges ifm. JS, viser indhold */
.hideElement {
  display: none;
}

/* [Header] */
/* Sætter selve headeren's pos til at være relativ til parent-container.*/
header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

/* 
  * Siger at heroimage i headeren skal optage 100% width. 
  * Giver den en lille border-radius, så den matcher nav-baren  
*/
header video, header img {
  display: block;
  width: 100%;
  margin-top: 0;
}

.logo {
  max-height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* [Navbar] */
/* 
  * Sætter dens position til absolute. 
  * Giver den 100% - 2rem width. Og 1rem padding (--space-md).
  * Giver kontaineren en border-radius.
  * Giver den display: flex, med center på y-aksen (align-items) 
  * og space-between på x-aksen (justify-content).
  * Tilføjer et transition animation på, for "smoothness", når den skal dukke op igen efter animation.
*/

.headerNav {
  position: fixed;
  top: calc(0% + 1rem);
  left: 0;
  margin-left: 1rem;
  z-index: 500;
  width: calc(100% - 2rem);
  padding: 0rem var(--space-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
}

/* Bliver tilføjet via JS, til at give den en baggrund + box-shadow med mouseover */
.headerNav.mouseOver, .headerNav.scrollDown {
  background-color: var(--color-primary);
  box-shadow: 0rem var(--space-xs) var(--space-xs) var(--color-shadow-60);
  transition: all 0.4s ease-in-out;
}

.headerNav.scrollDown {
  top: 0;
}

/* Gør så alle ikoner har pointers når man har musen over dem. */
.headerNav i {
  cursor: pointer;
}

/* En lille hover-effekt på alle links. */
.headerNav a:hover {
  color: var(--color-neutral);
}

/* Layout styling for mobile-containeren i højre side af navbaren */
.headerNavMobile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Skjuler Desktop navbar kontainere */
.headerNavLeftDesktop, .headerNavRightDesktop {
  display: none;
}

/* Skjuler kontaineren med links, så den først er synlig, når man klikker på burger ikonet */
.headerNavMobile .headerNavLinks {
  display: none;
}

/* Nedenfor styling bliver brugt, når headerNavMobile (.headerNavMobile.active) er aktiveret via JS. */

/* 
  * Sætter dens position til at være absolut, og placere den 100% af dens parent container, i top.
  * Giver den 100% width. Giver den flex, center, col til hhv. display og orientering.
  * Giver containeren et border-radius til dens kontainere
  * Giver den en baggrundsfarve, en diskret box-shadow.
  * Gør at den placeres ovenover alt.
*/
.headerNavMobile.active .headerNavLinks {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-secondary);
  box-shadow: 0rem var(--space-xs) var(--space-xs) var(--color-shadow-60);
  z-index: 500;
}

/* 
  * Giver links i mobile navbar en padding, text-farve og text-størrelse
  * Brug hvis det skal dække et bredere fælt, men ik nødvendigt:
  - display: inline-block;
  - width: 50%;
*/
.headerNavMobile.active .headerNavLinks a {
  padding: var(--space-md);
  color: var(--color-text-secondary);
  font-size: var(--fs-md);
}

/* 
  * Gør så listen (li) optager hele width, teksten indenfor er centreret.
  * Og giver en padding.
*/
.headerNavMobile.active .headerNavLinks li {
  width: 100%;
  text-align: center;
  padding: var(--space-xl) 0rem;
}

/* Giver en border bottom til alle links kontainere i mobile nav, på nær den sidste. */
.headerNavMobile.active .headerNavLinks li:not(:last-child) {
  border-bottom: 2px solid var(--color-shadow-30);
}

/* [Burger Menu] */
/* 
  * Giver burgerMenu knappen en bestemt width + padding.
  * Giver burgerMenu en baggrundsfarve + pointer cursor.
*/
.burgerMenu {
  width: 100%;
  padding: var(--space-sm);
  cursor: pointer;
}

/* 
  * Styling til selve burgerMenu linjerne.
  * Giver den en højde, farve og animation
*/
.burgerMenu .burgerLine {
  height: var(--space-xs);
  background-color: var(--color-text-secondary);
  transition: 0.2s linear;
}

/* Forskyder linjerne en smule i aktiv-tilstand, så de er mere centreret */
.burgerMenu.active {
  padding-left: 0.6rem;
}

/* Gør så der er mellemrum imellem linjerne (på nær bunden) */
.burgerMenu .burgerLine:not(:last-child) {
  margin-bottom: var(--space-sm);
}

/* 
  Nedenfor er bare animationen af burger-linjerne, efter de er klikket på.
*/
.burgerMenu.active .burgerLine:nth-child(1) {
  transform-origin: left;
  transform: rotate(30deg);
  transition: 0.2s linear;
}

.burgerMenu.active .burgerLine:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burgerMenu.active .burgerLine:nth-child(3) {
  transform-origin: left;
  transform: rotate(-30deg);
  transition: 0.2s linear;
}


/* [Footer] */
/*
  * Sættere footerens position til relativ til dens parent-container.
  - placere footeren i bunden.
  * Giver selve footeren width 100%, padding, baggrundsfarve og font-farve på alt font i footeren. 
*/
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--space-md) var(--space-lg) var(--space-lg);
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
}

/* Gør så kontakt-info boksen og SoMe boksen optager 100% width */
.footerContactBox, .socialMedia {
  width: 100%;
}

/* Giver kontakt-info boksen, som har flex via andet CSS class, et gap. */
.footerContactBox {
  gap: var(--space-sm);
}

/* Giver kontakt-info boksen's titel et font-størrelse og vægt. */
.footerContactBox h6 {
  font-size: var(--fs-lg);
  font-weight: 500;
}

/* Gør så kontakt-info boksen's info text har venstre-padding, for at forskyde. */
.contactInfo {
  padding-left: var(--space-sm);
}

/* Giver teksten, på nær den sidste <p>, et margin-bottom for at give teksten spacing. */
.contactInfo p:not(:last-child) {
  margin-bottom: var(--space-sm);
}

/* 
  * Gør så SoMe kontaineren har padding, og er placeret øverst på y-aksen, i et column flexbox.
  * Giver kontaineren et gap imellem indholdet.
*/
.socialMedia {
  padding: var(--space-md) var(--space-lg);
  align-items: flex-end;
  gap: var(--space-lg);
}

/* Gør så nyhedsbrevs-kontaineren har margin på toppen. */
.newsletterContainer {
  margin-top: var(--space-lg);
}

/* Gør så der er mellemrum fra label teksten, til kontaineren i bunden med email feltet og tilmeld knappen. */
.newsletterContainer label {
  margin-bottom: var(--space-md);
}

/* Giver email input-kontaineren 100% width, padding og baggrundsfarve */
.newsletterContainer input {
  width: 100%;
  padding: var(--space-sm);
  background-color: var(--color-primary);
}

/* Giver div'en som indeholder input feltet og knappen, mellemrum mellem tingene. */
.newsletterContainer div {
  gap: var(--space-md);
}

/* 
  * Styling til Tilmeld knappen.
  * Giver knappen et padding, border-radius og baggrundsfarve.
  * Giver knappens tekst et font-størrelse, vægt og farve.
*/
.submitNewsletter {
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--space-md);
  background-color: var(--color-tertiary);
  font-size: var(--fs-sm);
  font-weight: 800;
  color: var(--color-text-secondary);
}

/* [Ikoner] */
.logoIcon {
  width: clamp(2rem, 4vw, 4rem);
  height: clamp(2rem, 4vw, 4rem);
  background-image: url(../IMGS/SVG/Logo.svg);
  transform: scale(0.9);
}

.burgerOpenIcon {
  width: clamp(1rem, 4vw, 4rem);
  height: clamp(1rem, 4vw, 4rem);
  background-image: url(../IMGS/SVG/burger-opened.svg);
}

.burgerOpenIcon.active {
  background-image: url(../IMGS/SVG/burger-closed.svg);
}

/* Bruges ikke, det blev bestemt i gruppen, at der ikke skal være disse ikoner.
.accountIcon {
  width: var(--space-2xl);
  height: var(--space-2xl);
  background-image: url(../IMGS/SVG/Account.svg);
}

.buyIcon {
  width: var(--space-2xl);
  height: var(--space-2xl);
  background-image: url(../IMGS/SVG/buy.svg);
}
*/

.facebookIcon {
  width: var(--space-2xl);
  height: var(--space-2xl);
  background-image: url(../IMGS/SOME/facebook-ikon.svg);
}

.instagramIcon {
  width: var(--space-2xl);
  height: var(--space-2xl);
  background-image: url(../IMGS/SOME/instagram-ikon.svg);
}

.xIcon {
  width: var(--space-2xl);
  height: var(--space-2xl);
  background-image: url(../IMGS/SOME/x-twitter-ikon.svg);
}

.tiktokIcon {
  width: var(--space-2xl);
  height: var(--space-2xl);
  background-image: url(../IMGS/SOME/tiktok-ikon.svg);
}

/* [Flex Layouts] */

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_row {
  display: flex;
}

.flex_row_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_row_spaceBetween {
  display: flex;
  justify-content: space-between;
}

.flex_row_center_spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* [Desktop CSS] */
@media screen and (min-width: 801px) {

  /* [Desktop General Styling] */

  /* [Desktop Header + Navbar] */
  /* Fjerner burgerMenu knappen */
  .burgerMenu {
    display: none;
  }
  
  /* Gemmer mobil navbar */
  .headerNavMobile {
    display: none;
  }

  /* 
    * Styling til desktop Navbar.
    * Display Flex med center placering på x-aksen.
    * Giver det et mellemrum (gap) imellem i indholdet.
    * Giver teksten inden i, en font-farve, størrelse og vægt.
    */
  .headerNavLeftDesktop, .headerNavRightDesktop {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    color: var(--color-text-primary);
    font-size: var(--fs-md);
    font-weight: bold;
  }

  /* Giver links inden i desktop navbar et padding. */
  .headerNavLeftDesktop a, .headerNavRightDesktop a {
    padding: var(--space-md);
  }

  /* Giver ikonerne et margin, for spacing imellem tingene. */
  .headerNavRightDesktop i {
    margin: 0rem 0.75rem;
  }

  /* Gør så navbaren's logo er placeret lidt mere midtfor.
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  */

  /* [Desktop Footer] */
  /* Giver SoMe kontaineren et andet type padding og flex-indstillinger (row i stedet for column) samt gap. */
  .socialMedia {
    padding: var(--space-md) 0rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: var(--space-lg);
  }

  /* 
    * Gør så div'en indenfor newsletterContainer har position-relativ, 
    - så knappen senere kan placeres til højrefor input feltet.
  */
  .newsletterContainer div {
    position: relative;
  }

  /* Placere Tilmeld knappen ved siden af input-feltet. */
  .submitNewsletter {
    position: absolute;
    right: 0;
    transform: translate(120%, -1px);
  }

}