/*******

*****************     TABLE  OF  CONTENTS     *****************

- Use CTRL + F and type in the names below "[ NAME ]" without ""
- then click on the down arrow in order to go to it

* [ VARIABLES ]
* [ IMPORT + RESETS ]
* [ GENERAL / TEXT STYLING ]
* [ HEADER ]
* [ BURGER MENU MOBILE ]
* [ HEADER NAVBAR MOBILE ]
* [ FOOTER ]
* [ ICONS ]
* [ BUTTONS ]
* [ FLEX LAYOUTS ]
* [ DESKTOP MEDIA STYLING ]
* [ DESKTOP GENERAL STYLING ]
* [ DESKTOP HEADER + NAVBAR ]
* [ DESKTOP FOOTER ]

********/



/*********** [ VARIABLES ] **********/

:root {
  /* 60% Colors, Dark Colors */
  --color-text-secondary: #000000;                        /* Font Color Black */
  --color-bg-header-footer-card-primary: #111921;         /* Header, Footer, Filled Card Color */
  --color-bg-main: #242729;                               /* Background Color */
  --color-bg-aside: #1E1E1E;                              /* Aside Color */
  --color-bg-card-secondary: #292938;                     /* Unfilled Card Color, Background for Login Field */
  /* 30% Colors, White Colors */
  --color-bg-text-primary: #FFFFFF;                       /* Font Color White, Field Background */
  --color-btn-primary: #CFD3D4;                           /* Primary Action Button Color */
  --color-text-btn-secondary: #A3ABAD;                    /* Secondary Action Button Color + title color */
  /* 10% Colors, Accent Colors */
  --color-hover-btn-tertiary: #FF8000;                    /* Link Button, Hover Color */
  --color-border-hover: #E60505;                          /* Hover, Border Color */
  /* Gradients */
  --gradient-horizontal: linear-gradient(90deg, #111921 0%, #E60505 50%, #111921 100%) 1;
  --gradient-vertical: linear-gradient(0deg, #111921 0%, #E60505 50%, #111921 100%) 1;
  --gradient-border: linear-gradient(to right, #E60505 25%, transparent 25%) 10;
  /* Box Shadow Buttons */
  --shadow-btn: 0rem 0rem 0.75rem 0.5rem rgba(90, 2, 2, 0.66);
  /* Fonts */
  --font-family-sans: "Montserrat", sans-serif;
  --font-family-serif: "Noto Serif", serif;
  /* Font Size */
  --fs-xsmall: clamp(0.74rem, -0.03vi + 0.75rem, 0.72rem);
  --fs-small: clamp(0.89rem, 0.03vi + 0.88rem, 0.9rem);
  --fs-regular: clamp(1.06rem, 0.11vi + 1.03rem, 1.13rem);
  --fs-h6: clamp(1.27rem, 0.24vi + 1.22rem, 1.41rem);
  --fs-h5: clamp(1.53rem, 0.41vi + 1.43rem, 1.76rem);
  --fs-h4: clamp(1.84rem, 0.66vi + 1.67rem, 2.2rem);
  --fs-h3: clamp(2.2rem, 0.99vi + 1.96rem, 2.75rem);
  --fs-h2: clamp(2.64rem, 1.44vi + 2.29rem, 3.43rem);
  --fs-h1: clamp(3.17rem, 2.03vi + 2.66rem, 4.29rem);
}

/**************** [ IMPORT + RESETS ] *****************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Makes sure box-sizing: border-box stays on even in altered states */
*, *::before, *::after{
  box-sizing: border-box; 
}

/* Resets all margin and padding on everything to 0 */
* {
  margin: 0;
  padding: 0;
}

/* Makes scrolling noicer */
html:focus-within{
    scroll-behavior: smooth; 
}

/* re-define the properties of input (and other things, if added) here */ 
input, button, textarea, select { /* Maybe add Button, textarea and select to this as well */
  appearance: auto; /*  Only set this to "none" if every input boxes are manually designed  */
  display: inline-block;
  border: none;
  background: none;
  outline: none;
  padding-block: 0;
  padding-inline: 0;
}

/****** Removes the up / down icon on input of type="number" *******/
/* For Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Removes the focus effect (outline thingy) of input (and other things if added) */
input:focus, select:focus, button:focus, textarea:focus {
  outline: none;
}


/* Makes sure the underline on things text-deco is on, doesn't go through letters like 'g' */
a {
  text-decoration-skip-ink: auto;
}

/* Removes the "blue" font text, sets it to inherit the class it is in. / CSS applied elsewhere */
a:visited, a:active, a:hover {
  color: inherit;
}

/* Removes list-style bulletpoints etc. */
li {
  list-style: none;
}

/* Should make imgs behave more normally. Imgs takes up full width */ 
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* No Links Text Decoration */
a {
  text-decoration: none;
}


/************** [ GENERAL / TEXT STYLING ] ************/

/* 
  - No sideways scroll on body
  - body takes up full width and height (minimum full viewport)
*/
body {
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

/* background for <main> container */
.bgMain {
  background-color: var(--color-bg-main);
}

/* font color for text bodytext and headings in main */
p, h1, h2, h3, h4, h5, h6 {
  color: var(--color-bg-text-primary);
}

/* Default Heading and Bodytext properties */
h1, h2, h3, h4, h5, h6, p {
  text-wrap: wrap;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 150%;
}

/* Links and Headings Font Family */
a, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans);
}

/* Bodytext <p> styling*/
p {
  font-family: var(--font-family-serif);
  font-size: var(--fs-regular);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

h6 {
  font-size: var(--fs-h6);
}

/* Italic text */
.italic {
  font-style: italic;
  font-size: large;
  color: var(--color-bg-text-primary);
}

/* Font styling for input, btn, select, txtArea */
input, button, select, textarea {
  font-family: var(--font-family-sans);
  color: var(--color-text-secondary);
  font-weight: bold;
}

/* Label styling */
label {
  display: inline-block;
  color: var(--color-bg-text-primary);
  font-family: var(--font-family-serif);
  font-size: var(--fs-h6);
}

/* Set all hovers on buttons to be pointers */
button:hover {
  cursor: pointer;
}

/* Used in conjuction with JS, hides content */
.toggleable {
  display: none;
}

/* Used in conjuction with JS, shows content in active state when using classList.toggle */
.toggleable.active {
  display: block;
}

/* Used in conjuction with JS, shows content */
.showElement {
  display: block;
}

/* Used in conjuction with JS, hides content */
.hideElement {
  display: none;
}

/* Styling for a standard field box */
.standardField {
  background-color: var(--color-bg-text-primary);
  height: 2.25rem;
  width: 100%;
  padding-left: 0.5rem;
}

/* Styling for a standard textArea box */
.messageBox {
  background-color: var(--color-bg-text-primary);
  min-height: 10rem;
  max-height: 30rem;
  width: 100%;
  padding: 1rem;
  resize: vertical;
}

/****************** [ HEADER ] *******************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-bg-header-footer-card-primary);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.62);
  z-index: 500;
}

/* Logo Hover */
header p:hover, header p:hover span {
  color: var(--color-hover-btn-tertiary);
  text-shadow: 0rem 0rem 0.5rem var(--color-hover-btn-tertiary);
}

.headerLogoLeft {
  font-size: var(--fs-h3);
}

.headerLogoRight {
  font-size: var(--fs-h4);
}

/* .headerNavLinks and .footerMenu <a> Links Styling */
.headerNavLinks li a:not(.buttonPrimary), .footerMenu li a {
  padding: 1.5rem 1.5rem;
  color: var(--color-bg-text-primary);
  font-size: larger;
  transition: color 0.3s;
  text-align: center;
}

/* .headerNavLinks and .footerMenu <a>:hover Styling */
.headerNavLinks li a:hover:not(.buttonPrimary), .footerMenu li a:hover {
  color: var(--color-hover-btn-tertiary);
  text-shadow: 0rem 0rem 0.5rem var(--color-hover-btn-tertiary);
}

/********** [ BURGER MENU MOBILE ] *******/

/* hides desktop menu */
.headerNavLinks {
  display: none;
}

/***** BurgerMenu Button ****/
.burgerMenu {
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burgerMenu .burgerLine {
  width: 100%;
  height: 0.125rem;
  background-color: var(--color-hover-btn-tertiary);
  margin-bottom: 0.3rem;
  transition: 0.2s linear;
}

.burger.active .burgerLine:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .burgerLine:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .burgerLine:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

/************ [ HEADER NAVBAR MOBILE ] ************/

.headerNav.active .headerNavLinks {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-bg-header-footer-card-primary);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.62);
  z-index: 500;
}

.headerNav.active .headerNavLinks a {
  margin: 1.5rem 0rem 1.5rem 0rem;
}

.headerNav.active .headerNavLinks li:not(:last-child), .footerMenu li {
  width: 100%;
  padding: 1rem 1rem 1.5rem 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border-bottom: 2px solid transparent;
  border-image: var(--gradient-horizontal);
}

/* Wider clickable burger-menu-dropdown links */
.headerNav.active .headerNavLinks li a:not(.buttonPrimary) {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* Offsets the buttons position in the burger menu for better spacing */
.headerNav.active .buttonGray {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/**************** [ FOOTER ] ******************/

footer {
  position: static;
  padding: 1rem;
  background-color: var(--color-bg-header-footer-card-primary);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.62);
}

footer img {
  display: inline-block;
}

.footerMenu {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footerNav {
  width: 100%;
}

.footerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
  color: var(--color-bg-text-primary);
  text-align: center;
  border-bottom: 2px solid transparent;
  border-image: var(--gradient-horizontal);
  width: 100%;
}

.footerTop p {
  max-width: 45ch;  
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.socialMedia a img {
  height: 100%;
  padding: 0rem 1rem;
  border-right: 2px solid transparent;
  border-image: var(--gradient-vertical);
}

.socialMedia a:nth-child(1) img {
  border-left: 2px solid transparent;
  border-image: var(--gradient-vertical);
}

/**************** [ ICONS ] ****************/

/*
.defaultIconStyle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url('path/to/file.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
*/

/************** [ BUTTONS ] ************/

.buttonPrimary {
  display: inline-block;
  padding: 0.688rem 1.625rem;
  border-radius: 1rem;
  background-color: var(--color-btn-primary);
  text-align: center;
  font-size: large;
  font-family: var(--font-family-sans);
  font-size: var(--fs-regular);
  color: var(--color-text-secondary);
  font-weight: 600;
}

.buttonSecondary {
  display: inline-block;
  padding: 0.75rem 1.625rem;
  border-radius: 1rem;
  background-color: var(--color-text-btn-secondary);
  text-align: center;
  font-size: large;
  font-family: var(--font-family-sans);
  font-size: var(--fs-regular);
  font-weight: 600;
}

.buttonPrimary:hover, .buttonSecondary:hover {
  color: var(--color-border-hover);
  box-shadow: var(--shadow-btn);
}

.buttonOrange {
  display: inline-block;
  padding: 0.75rem 1.625rem;
  border-radius: 1rem;
  background-color: var(--color-hover-btn-tertiary);
  text-align: center;
  font-size: large;
  font-family: var(--font-family-sans);
  font-size: var(--fs-regular);
  font-weight: 600;
}

.buttonOrange:hover {
  color: var(--color-border-hover);
  box-shadow: var(--shadow-btn);
}

/************** [ FLEX LAYOUTS ] *****************/

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_row {
  display: flex;
}

.flex_row_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_row_spaceBetween {
  display: flex;
  justify-content: space-between;
}

.flex_row_center_spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/************* [ DESKTOP MEDIA STYLING ] *************/

@media screen and (min-width: 801px) {

  /********** [ DESKTOP GENERAL STYLING ] *********/

  /* Desktop Height Resizer */
  body {
    display: flex;
    flex-direction: column;
  }
  /* Grows the contents within main, to eliminate white-space below the footer on short pages */
  main {
    flex: 1;
  }

  /********** [ DESKTOP HEADER + NAVBAR ] *********/

  .burgerMenu {
    display: none;
  }

  .headerNav {
    display: flex;
  }

  .headerNavLinks {
    display: flex;
    align-items: center;
  }

  .headerNavLinks li:not(:last-child) {
    border-right: 2px solid transparent;
    border-image: var(--gradient-vertical);
  }

  .headerNavLinks li:last-of-type {
    margin: 0rem 1rem 0rem 1.5rem;
  }

  /************ [ DESKTOP FOOTER ] *********/

  footer a {
    display: inline-block;
    width: max-content;
  }

  .footerTop {
    padding-top: 1rem;
    border-top: 2px solid transparent;
    border-image: var(--gradient-horizontal);
  }

  .footerTop img {
    padding: 0rem 3rem;
  }

  .footerTop p {
    max-width: 85ch;
  }

  .footerMenu {
    flex-direction: row;
    justify-content: center;
  }

  .footerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footerMenu li {
    border-right: 2px solid transparent;
    border-image: var(--gradient-vertical);
    width: auto;
    margin-bottom: 0rem;
  }

  .footerMenu li:nth-child(1) {
    border-left: 2px solid transparent;
  }

  .footerMenu li a {
    padding: 0rem 1rem;
  }

  .socialMedia {
    padding-top: 0rem;
  }

  .socialMedia a img {
    display: inline-block;
    width: max-content;
    padding: 0rem 1.5rem;
    height: auto;
  }

  .socialMedia a:nth-child(1) img {
    border-left: none;
  }

}